body{
    background-color: rgb(63, 149, 169, 0.1);
}

/* header menu */
.lowongan-menu-item a{    
    color: #BDBDBD;    
    text-decoration: none;
}

.lowongan-menu-item a:hover{    
    color: black;    
    text-decoration: none;
}

.lowongan-menu-item .active{    
    color: black;    
    text-decoration: none;
}

/* search */
.has-search .form-control {
    padding-left: 2.375rem;
    position: relative;    
    border-radius: 100px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .btn-cari {
    position: absolute;
    z-index: 2;
    display: block;
    right: 15px;
    border-radius: 100px;    
    text-align: center;
    pointer-events: none;
    color: white;
    background: #68C8D8;    
}


.select-filter select{
    background: white;
    border: 2px solid #68C8D8;    
    width: 100%;    

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.select-filter select{
    outline: 0px transparent !important;
}
.select2 {
    width:100%!important;
}

.select2-container--default .select2-selection--single{    
    padding-top: 5px;
    height: 44px;
    background: white;
    border: 2px solid #68C8D8;
    color: #68C8D8;
    width: 100%;    
    outline: 0px transparent !important;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {    
    width: 45px;
    color: #fff;    
    padding: 20px 15px;        
}

.dropdown-toggle{
    background: white;
    border: 2px solid #68C8D8;    
    height: 44px;
    border-radius: 0;
}

.dropdown-menu {
    min-width:inherit;    
}

.dropdown-toggle::after{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    color: gray;
}

.btn-gaji-filter{
    color: white;
    font-weight: bold;
    background-color: #68C8D8;
    border-radius: 100px;
    
}
/* lowongan */
.lowongan-terkini {
    background: rgb(63, 149, 169, 0.1);
}

.card-img-top{
    height: 90px;
}
.lowongan-kerja .update-time i {
    color: #BDBDBD;
    font-size: 15px;
}


.lowongan-kerja{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
}

.lowongan-kerja .company-location p, .lowongan-kerja .company-location i {
    color: #4F4F4F;
}

.lowongan-kerja .job-position h6 {
    color: #3F95A9;
}

.lowongan-kerja .job-position p {
    color: #BDBDBD;
    height: 20px;
}

.lowongan-kerja .job-salary{            
    height: 50px;        
}

.lowongan-kerja .job-salary img{            
    height: 20px;
}

.lowongan-kerja .btn-detail {
    background: #68C8D8;
    border-radius: 100px;
    color: white;
    font-size: 13px;
    font-weight: lighter;
}



/* Detail Lowongan */

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

hr{
    background-color: rgb(63, 149, 169, 0.1);
    height: 2px;
}


/* info pekerjaan */
.company-image{
    width: 160px;
    height: 160px;    
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nama-lowongan{
    color: #3F95A9;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 24px;
}

p.nama-perusahaan{
    color: #BDBDBD;
    text-transform: uppercase;
}

.info-title{
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 5px;    
}

.bookmark-share button{
    border: 1px solid #68C8D8;
    color: #68C8D8;
    background-color: white;
}

.bookmark-share button:hover{
    background-color: #68C8D8;
    color: white;
}


/* deskripsi pekerjaan */
.deskripsi-title{
    font-weight: bolder;    
}

.deskripsi{
    white-space: pre-wrap;
}

/* skill yg dibutuhkan */
.skill-title{
    font-weight: bolder;
}

.skill{
    color: #3F95A9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;        
    background: rgb(63, 149, 169, 0.1);
    margin-right: 10px;
    font-weight: bold;
}

/* lamar section */
.img-info{    
    height: 20px;
}

.klik-disini{
    color: #68C8D8;
    font-weight: bolder;
}

.btn-lamar-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lamar-side button{
    background: #68C8D8;    
    padding: 15px;
    color: white;    
}

.btn-lamar-side i{
    color: white;
}

.btn-lamar-side button:hover{
    background: #09707e;    
    color: white;
}


/* right side */
/* tentang perusahaan */
.title-tentang-perusahaan{
    font-weight: bolder;
}

.paragraph-tentang-perusahaan{
    white-space: pre-wrap;
}

.lowongan-lain-title{
    font-weight: bolder;
}

/* modal lamar */

.modal-header{
    border:none;
}

.img-perusahaan-modal{
    
    width: 140px;
    height: 140px;    
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);     
    margin: 0 auto;        
}

.nama-lowongan-modal{
    color: black;
    font-weight: bolder;
    text-transform: capitalize;        
}

.nama-perusahaan-modal{
    color: #4F4F4F;
    font-size: 20px;
}

.box-text{
    border: 1px dashed #3F95A9;
    background-color: rgb(63, 149, 169, 0.1);
    color: #4F4F4F;
}

.btn-cancel{
    background: #FAFAFA;
    border-radius: 100px;
    color: #BDBDBD;
    width: 120px;
}

.btn-lamar-modal{
    background: #68C8D8;
    border-radius: 100px;
    
    color: white;
}

.btn-lamar-modal i{
    color: white;
}

.btn-lamar-modal:hover{
    background: #09707e;    
    color: white;
}

.modal-footer{
    border: none;
}


/* bookmark */

.select-sortby{
    background: white;
    border: 2px solid #68C8D8;    
    width: 15%;    
    
}

.select-sortby{
    outline: 0px transparent !important;
}


/* sukses apply lamaran */
.image-perusahaan img{

    width: 140px;
    height: 140px;    
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);     
    margin: 0 auto;        
}

.company-name-lamaran{
    color: #4F4F4F;
    font-size: 20px;    
}

.btn-cek-lamaran{
    background: #68C8D8;    
    padding: 15px;
    color: white; 
    height: 60px;
}

/* list lamaran user */
.terkirim{    
    background-color: rgb(242, 201, 76, 0.2);
    color: #F2C94C;
    border-radius: 100px;
}

.terkirim .img-terkirim{
    background-color: #F2C94C;
    border-radius: 100px;
}

.diterima{    
    background-color: rgb(111, 207, 151, 0.2);
    color: #6FCF97;
    border-radius: 100px;
}

.diterima .img-diterima{
    background-color: #6FCF97;
    border-radius: 100px;
}

.ditolak{    
    background-color: rgb(235, 87, 87, 0.2);
    color: #EB5757;
    border-radius: 100px;
}

.ditolak .img-ditolak{
    background-color: #EB5757;
    border-radius: 100px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

/* has float label */

.has-float-label{
	display:block;
	position:relative
}
.has-float-label label, .has-float-label > span{
	position:absolute;
	cursor:text;
	font-size:75%;
	opacity:1;
	-webkit-transition:all .2s;
	transition:all .2s;
	top:-.5em;
	left:.75rem;
	z-index:3;
	line-height:1;
    padding:0 1px    
}
.has-float-label label::after, .has-float-label > span::after{
	content:" ";
	display:block;
	position:absolute;
	background:#fff;
	height:2px;
	top:50%;
	left:-.2em;
	right:-.2em;
	z-index:-1
}
.has-float-label .form-control::-webkit-input-placeholder{
	opacity:1;
	-webkit-transition:all .2s;
    transition:all .2s;
    box-shadow: none;
    
}
.has-float-label .form-control::-moz-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control:-ms-input-placeholder{
	opacity:1;
	transition:all .2s;
}
.has-float-label .form-control::placeholder{
	opacity:0;
	-webkit-transition:all .2s;
	transition:all .2s;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder{
	opacity:0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
	top:.3em;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+*{
	font-size:100%;
	color: #6c757d;
	opacity: 1;
	top:.3em;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
	margin-top: 6px;
}


/* navbar */
.navbar {
    background: white;
}

.nav-link,
.navbar-brand {
    color: #BDBDBD;
    cursor: pointer;
}

.active{
    color: #68C8D8;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #3F95A9;
}

#navbar-nav {
    margin-left: auto;
}

.navbar-toggle {
    background: #ffffff !important;
}

#navButton {
    color: #3F95A9;
    border: solid 1px #3F95A9;
    border-radius: 100px;
}

#navButton:hover {
    background: #3F95A9;
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png');
}

#profilebutton {
    height: 30px;
}

.dropdown-menu{
    left:-120px;
}

.dropdown-menu hr{    
    border: 1px solid rgb(63, 149, 169, 0.1);
    margin-left: 5px;    
    margin-right: 5px;
}

.premium-link{
    color: #F2C94C;
}

.premium-link:hover{
    color: #F2C94C;
}
/*Footer*/
.footer-widget p {
    margin-bottom: 27px;
}


.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #3F95A9;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #3F95A9;
    border-left-color: #3F95A9;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 55px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 0px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #3F95A9;
}

/*.dk-footer-box-info {
    position: absolute;
    top: -122px;
    background: #202020;
    padding: 40px;
    z-index: 2;
}*/

.dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dk-footer-box-info .footer-social-link li {
    display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A;
}

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    color: #FFF;
    margin: 26px 0 32px;
}

.footer-left-widget {
    padding-left: 0px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #3F95A9;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #3F95A9;
    background: #3F95A9;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #3F95A9;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 15px 0;
    margin-top: 25px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
}

.copyright a:hover {
    color: #3F95A9;
}
